@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    height: 60px;
    display: flex;
    background-color: #FFF;
    margin-bottom: 20px;
}
body{
    font-family: 'Montserrat', sans-serif;
    background-color: #E5E5E5;
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
}
.parte1{
    display: flex;
    flex-direction: row;
    /* background-color: blue; */
    height: 8vh;
    width: 10vw;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
}
.parte1 img{
    width: 36px;
    height: 36px;
}
.parte2{
    /* background-color: yellow; */
    width: 35vw;
    height: 8vh;
    display: flex;
    align-items: center;
    padding-left: 15px;
    margin-right: 10px;
}
.parte2 ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.parte2 li{
    margin: 2px;
    height: 40px;
    width: 80px;
    text-align: center;
    list-style: none;
    display: flex;
    flex-direction: column;
}
.parte2 i{
    font-size: 16px;
    color: black;
}
.parte3{
    /* background-color: aqua;  */
    width: 25vw;
    height: 8vh;
    display: flex;
    align-items: center;
    margin-right: 10px;
}
.parte3 input[type=text]{
    margin-top: 3px;
    margin-left: 25px;
    height: 20px;
    width: 100px;
    background-color: rgba(0, 0, 0, 0.0);
    border-radius: 1px;
    outline: none;
    border: 0 none;
}
.parte3 i{
    position: absolute;
    margin-left: 3px;
    color:#0275B1;
}
.parte4{
    /* background-color: antiquewhite;  */
    width: 30vw;
    height: 8vh;
    display: flex;
}
.parte4 img{
    height: 46px;
    /* margin-top: 8px; */
    margin-left: 5px;
}
.parte4 div{
    margin-left: 10px;
}
.parte4 div div{
    display: flex;
    margin-top: 10px;
}
.parte4 div div i{
    color:green;
}
.parte4 div p:last-child{
    color:rgb(93, 240, 93);
}

.parte5{
    /* background-color: rgb(177, 115, 34);  */
    width: 8vw;
    height: 8vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 30px;
}

/* Parte de Zen - Início */
img {
    width: 100%;
}

.row {
    padding: 0 130px;
    display: table;
    max-width: 1440px;
}

.card {
    background-color: #FFF;
    margin-top: 20px;
    border-radius: 5px;
}

/* Início das Sections Principais */
section {
    float: left;
    width: 75%;
}

div section article {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

div section article p {
    font-size: 14px;
}

div section article:first-child {
    height: 360px;
}

div section article div:first-child img {
    border-radius: 4px 4px 0 0;
}

div section article div:last-child {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 0 25px;
}

div section article div:last-child img {
    width: 170px;
    height: 170px;
    margin-top: -25px;
}

div section article div:last-child div {
    display: flex;
    flex-wrap: wrap;
}
/* Final das Sections Principal */

/* Configuração dos Buttons */
button {
    width: 170px;
    height: 32px;
    background: linear-gradient(360deg, rgba(14,103,149,1) 0%, rgba(0,119,181,1) 100%);
    border-radius: 4px;
    border: 0;
    margin-right: 15px;
    font-size: 12px;
    color: #FFF;
}

/* Incício do Aside */
aside {
    float: left;
    width: 25%;
    padding-left: 20px;
}

div aside article {
    width: 100%;
    height: 360px;
}

aside article div div {
    margin: 10px;
}

div aside article:first-child div:first-child div:first-child div:first-child {
    display: flex;
    flex-wrap: wrap;
    border-bottom: 1px solid #CCC;
}

div aside article:first-child div:first-child div p, small {
    font-size: 10px;
    flex-wrap: nowrap;
    text-align: center;
    /* margin-right: 10px; */
    /* margin-left: 20px; */
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
}

div aside article:first-child div:first-child div p {
    margin-left: 35px;
    color: #0275B1;
    font-weight: bold;
}

div aside article:first-child div:first-child div small {
    font-weight: bold;
}

aside article:first-child div:last-child {
    display: flex;
    flex-direction: column;
}

aside article div:last-child h2, h3, h4 {
    color: #0275B1;
    font-size: 52px;
    font-weight: bold;
}

aside article div:last-child span {
    color: #000;
    margin-bottom: 10px;
}

/* Final do Aside */


footer {
    padding: 10px 5px 10px 0;
    background: #191970;
    color: #FFF;
    margin-top: 20px;
    height: 30vh;
 }

footer div {
    /* background-color: #000; */
    height: 4.3vh;
    display: grid;
    flex-wrap: nowrap;
    /* grid-row-start: 3; */
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
    /* gap: 10px; */
    max-width: 1000px;
    margin: 0 auto;
}

footer div div {
    height: 100px;
    border: 1px solid #CCC;
}

/* Parte de Zen - Final */
