* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #E5E5E5;
}

/* Começo do header por luis - 14:28 - 02/07*/
header {
    height: 80px;
    background-color: white;
    /* margin-bottom: 40px; */
    display: grid;
    column-gap: 10px;
    grid-template-columns: 10vw 30vw 30vw 20vw 10vw;
    margin-bottom: 40px;
}

/* header div{
    background-color: red;
} */
header div:nth-child(1) {
    /* background-color: blue; */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-right: 1px solid #F4F4F4;
}

header div:nth-child(2) {
    /* background-color: yellow; */
    display: flex;
    align-items: center;
    border-right: 1px solid #F4F4F4;

}

header div:nth-child(2) ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header div:nth-child(2) li {
    width: 80px;
    text-align: center;
    list-style: none;
    display: flex;
    flex-direction: column;
}

header div:nth-child(2) nav ul li i {
    color: black;
    font-size: 22px;
}

header div:nth-child(3) {
    /* background-color:blueviolet; */
    display: flex;
    align-items: center;
    border-right: 1px solid #F4F4F4;

}

input[type=text] {
    padding-left: 40px;
    background-color: rgba(0, 0, 0, 0.03);
    height: 60px;
    width: 320px;
    outline: none;
    border: 0 none;
    border-radius: 4px;
    /* border-right: 1px solid #F4F4F4; */
}

header div:nth-child(3) i {
    color: blue;
    margin-left: -345px;
    box-sizing: border-box;
}

header div:nth-child(4) {
    /* background-color: gray; */
    display: flex;
    /* border-right: 1px solid #F4F4F4; */
}

header div:nth-child(4) div:first-child {
    width: 100px;
}

header div:nth-child(4) div:last-child {
    width: 300px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

header div:nth-child(4) div:last-child h3 {
    margin-left: -250px;
    padding-top: 10px;
    position: relative;
    width: 40px;
    height: 40px;
}

header div:nth-child(4) div:last-child .dados {
    color: gray;
    font-size: 10px;
}

header div:nth-child(4) div:last-child .dados-luis {
    display: flex;
    flex-direction: row;
    margin-left: 15px;
    color: gray;
    /* padding-bottom: 22px; */
}

header div:nth-child(4) div:last-child .dados-luis i {
    color: green;
}


header div:nth-child(5) {
    /* background-color: pink; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-right: 55px;
    /* border-right: 1px solid #F4F4F4; */
}

/* Fim do header por luis  */

/* Início da configuração principal */

main {
    display: grid;
    grid-template-columns: 70% 26%;
    gap: 40px;
    max-width: 1200px;
    margin: auto;
}

main section:first-child {
    width: 100%;
}

main section:last-child {
    width: 100%;
}

/* .card {
    background-color: #FFF;
} */

/* Final da configuração principal */

/* Início da organização do artigo1-primeira-secao principal */
.artigo1-primeira-secao {
    display: grid;
    grid-template-rows: 180px 180px;
    /* background-color: #2196F3; */
    width: 100%;
    margin-bottom: 20px;
}

.artigo1-grid-primeira-div-pai {
    display: grid;
    grid-template-columns: auto auto auto;
    grid: 36px / auto auto auto;
    /* gap: 10px; */
    background-image: url(../img/Rectangle\ 3.png);
    padding-top: 20px;
    text-align: center;
}

.icon-arrow-up {
    background-color: #FFF;
    width: 20px;
    padding: 10px;
    border-radius: 4px;
    margin-left: 30px;
    box-shadow: 0px 10px 30px rgba(113, 123, 133, 0.05);
}

.icon-edit-profile {
    background-color: #FFF;
    width: 132px;
    padding: 10px;
    border-radius: 4px;
    margin-left: 530px;
    box-shadow: 0px 10px 30px rgba(113, 123, 133, 0.05);
}

.icon-tres-pontos {
    background-color: #FFF;
    width: 20px;
    padding: 10px;
    border-radius: 4px;
    margin-left: 30px;
    box-shadow: 0px 10px 30px rgba(113, 123, 133, 0.05);
}

.artigo1-grid-segunda-div-pai {
    display: grid;
    grid-template-columns: .5fr 2fr;
    gap: 10px;
    background-color: #fff;
    border-radius: 0 0 4px 4px;
}

.elipse {
    margin-top: -20px;
    margin-left: 30px;
}

.artigo1-grid-terceira-div-pai {
    display: grid;
}

.artigo1-grid-terceira-div-pai div {
    /* height: 60px; */
    width: 95%;
    background-color: #FFF;
    padding-left: 10px;
}

.artigo3-grid-primeira-div-filho1 {
    display: grid;
    grid-template-columns: auto auto;
    padding-top: 10px;
}

.artigo3-grid-primeira-div-filho1 p {
    font-size: 8px;
}

.btn1 {
    background: linear-gradient(180deg, #0077B5 0%, #0E6795 100%);
    border-radius: 4px;
    width: 170px;
    height: 32px;
    border: 0;
    color: #FFF;
    font-weight: bold;
}

.btn2 {
    background-color: #FFF;
    border-radius: 4px;
    width: 170px;
    height: 32px;
    border: 0;
    color: #000;
    font-weight: bold;
    border: 1px solid #0275B1;
}

/* Final da primeira Seção principal*/

/* Início da segunda seção principal */

.artigo2-segunda-secao {
    width: 100%;
    height: 260px;
    /* background-color: blueviolet;  */
    margin-bottom: 10px;
    display: grid;
    grid-template-rows: 50px 200px;
    /* row-gap: 10px; */

}
.artigo2-segunda-secao div:first-child{
    width: 100%;
    min-height: 50px; 
    /* background-color: red;   */
    display: flex;
    flex-direction: row;
    align-items: end;
}
.btn-1-second-article{
    text-transform: uppercase;
    height: 50px;
    width: 240px;
    border: none;
    background: linear-gradient(360deg, rgba(14,103,149,1) 0%, rgba(0,119,181,1) 100%);
    border-radius: 4px 4px 0 0;
    color: #fff;
}
.btn-2-second-article{
    background-color: #FFF;
    width: 240px;
    height: 40px;
    border: 1px solid #E7E7E7;
    border-radius: 4px 4px 0 0;
    text-transform: uppercase;
    font-weight: bold;
}
.artigo2-segunda-secao div:last-child{
    width: 100%;
    min-height: 50px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
    padding: 0 30px 10px 30px;
    border-radius: 0 0 4px 4px;
}
.artigo2-segunda-secao div:last-child a{
    color:#0275B1;
    font-size: 12px;
    text-decoration: none;
}
.artigo2-segunda-secao div:last-child a:hover{
    text-decoration: underline;
}
.artigo2-segunda-secao div:last-child h2{
    margin-bottom: 15px;
}
.artigo2-segunda-secao div:last-child p{
    margin-bottom: 20px;
}

/* Final da segunda seção principal */

/* Início da terceira seção principal */
.artigo3-terceira-secao {
    display: grid;
    grid-template-rows: 52px 270px 40px;
    width: 100%;
    height: 370px;
    background-color: white;
    margin-bottom: 20px;
    /* row-gap: 10px;  */
    border-radius: 4px;
}
.artigo3-titulo{
    display: flex;
    align-items: center;
    margin-right: 10px;
    margin-left: 25px;
}
.artigo3-titulo span{
    color: gray;
    margin-left: 10px;
}

.artigo3-terceira-secao div{
    min-height: 50px;
    /* background-color: #0077B5; */
}
.artigo-3-gallery{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 25px;
    column-gap: 20px;
}
.artigo-3-gallery h2{
    font-size: 14px;
    margin-top: 15px;
}
.artigo-3-gallery h3{
    font-size: 14px;
    margin-top: 15px;
}
.artigo-3-gallery span{
    font-size: 10px;
    color: #000;
}
.artigo3-terceira-secao a{
    text-decoration: none;
    margin: -10px 0 10px 20px;
    color:#0275B1;
    font-size: 12px;
    text-decoration: none;
}
/* Final da terceira seção principal */

/* Início da quarta seção principal */
.artigo4-quarta-secao {
    display: grid;
    grid-template-rows: 75px 110px 40px;
    width: 100%;
    height: 250px;
    background-color: white;
    margin-bottom: 20px;
    row-gap: 10px;
    border-radius: 4px;
}
.artigo4-title-skills{
    box-sizing: border-box;
    margin-top: 30px;
    color: red;
}
.artigo4-quarta-secao div:first-child{
    color: #000;
    margin-left: 25px;
    box-sizing: border-box; 
    /* padding-top: 5px; */
}
.artigo4-quarta-secao div{
    /* background-color: red; */
}
.artigo4-quarta-secao div:nth-child(2){
    background-color: white;
    display: grid;
    height: 110px;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 5px;
    /* box-sizing: border-box; */
}
.artigo4-quarta-secao div:nth-child(2) div{
    /* background-color: yellow; */
}
.artigo4-quarta-secao div:nth-child(2) div:first-child{
    /* color: red; */
    background-image: url(../img/users\ \(1\).png);
    background-repeat: no-repeat;
    background-position: 10% 70%;
    display: flex;
    justify-content: space-between;
    border: 1px solid #f4f4f4;
    height: 80px;
    width: 250px;
    box-sizing: border-box;
    border-radius: 6px;
}
.artigo4-quarta-secao div:nth-child(2) div:first-child span{
    color:#0077B5
}
h6{
    font-size: 14px;
    line-height: 150%;
}
.artigo4-quarta-secao div:nth-child(2) div:nth-child(2){
    /* color: blueviolet; */
    background-image: url(../img/users\ \(3\).png);
    background-repeat: no-repeat;
    background-position: 10% 70%;
    display: flex;
    justify-content: space-between;
    border: 1px solid #f4f4f4;
    height: 80px;
    width: 250px; 
    border-radius: 6px;
}
.artigo4-quarta-secao div:nth-child(2) div:nth-child(2) span{
    color:#0077B5;
}
.artigo4-quarta-secao div:nth-child(2) div:last-child{
    background-image: url(../img/users\ \(2\).png);
    background-repeat: no-repeat;
    background-position: 10% 70%;
    display: flex;
    justify-content: space-between;
    border: 1px solid #f4f4f4;
    height: 80px;
    width: 250px; 
    border-radius: 6px;
}
.artigo4-quarta-secao div:nth-child(2) div:last-child span{
    color: #0077B5;
}
.artigo4-quarta-secao div:last-child a{
    color:#0275B1;
    font-size: 12px;
    text-decoration: none;
    margin-left: 25px;
    text-transform: uppercase;
}

/* Final da quarta seção principal */

/* Início da quinta seção principal */

/* Começo das alterações por luis - 11:32 - dia 03/07/22 */

.artigo5-quinta-secao {
    display: grid;
    grid-template-columns: 0.1fr auto;
    background-color: #fff; 
    padding: 10px;
    border-radius: 4px;
} 
.artigo5-quinta-secao > div {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px 0;
    font-size: 30px;
    margin-left: 15px;
}
.artigo5-quinta-secao div:first-child{
    font-size: 18px;
    font-weight: bold;
    margin-bottom: -20px;
}
.artigo5-quinta-secao > div:nth-child(1) {
    grid-column: 1 / span 2;
    /* background-color:blueviolet */
}
.artigo5-quinta-secao div:nth-child(4){
    /* background-color:red;  */
    height: 54px;
}
.artigo5-quinta-secao div:nth-child(3){
    /* background-color: gray; */
    display: flex;
    flex-direction: column;
}
.artigo5-quinta-secao div:nth-child(3) div:nth-child(3) small:first-child, .artigo5-quinta-secao div:nth-child(5) div:nth-child(3) small:first-child{
    color: black;
}
.artigo5-quinta-secao div:nth-child(3) div:nth-child(3) small:last-child, .artigo5-quinta-secao div:nth-child(5) div:nth-child(3) small:last-child{
    color: blue;
}
.artigo5-quinta-secao div:nth-child(3) h6, .artigo5-quinta-secao div:nth-child(5) h6{
    margin-bottom: -7px;
}
.artigo5-quinta-secao div:nth-child(3) p{
    font-size: 10px;
    padding-bottom: 20px;
    border-bottom: 1px solid black;
}
.artigo5-quinta-secao div:nth-child(3) small, .artigo5-quinta-secao div:nth-child(5) small{
    font-size: 10px;
    padding-bottom:4px;
}
.artigo5-quinta-secao div:nth-child(5) p{
    font-size: 10px;
}
.artigo5-quinta-secao div:nth-child(5){
    margin-top: -25px;
}
/* inicio da quinta seção luis - 14:26 - 03/07 */


/* Final da quinta seção principal */

/* Início da sexta seção principal */
.artigo6-sexta-secao {
    display: grid;
    grid-template-columns: 0.2fr auto;
    grid-gap: 10px;
    background-color: #fff;
    padding: 10px;
    margin-top: 40px;
    border-radius: 4px;
    padding-left: 25px;
    box-sizing: border-box;
}
.artigo6-sexta-secao > div {
    /* background-color: rgba(255, 255, 255, 0.8); */
    padding: 20px 0;
    font-size: 30px;
  }
  
.artigo6-sexta-secao div:first-child{
    grid-column: 1 / span 2;
    /* color: red; */
    font-size: 18px;
    margin-left: 1px;
    font-weight: bold;
    padding-bottom: 10px;
}
.artigo6-sexta-secao div:nth-child(3){
  /* background-color: red; */
  box-sizing: border-box;
}
.artigo6-sexta-secao div:nth-child(3) h6{
    font-size: 14px;
}
.artigo6-sexta-secao div:nth-child(3) p{
    font-size: 12px;
}
.artigo6-sexta-secao div:nth-child(3) small{
    font-size: 10px;
    color: gray;
   
}


/* Final da sexta seção principal */

/* Início do Aside 1*/
.aside-pai-1 {
    background-color: #FFF;
    border-radius: 4px;
    height: 360px;
    padding: 20px;
    grid-template-rows: 100px 260px;
    box-sizing: border-box;
    row-gap: 10px;
    margin-bottom: 20px;
}

.aside-pai-1 div:first-child {
    /* background-color: coral; */
    min-height: 40px;
    border-bottom: 1px solid #F4F4F4;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 10px;
}

.first-aside-filho-1 h3 {
    font-size: 12px;
    font-weight: bold;
}

.first-aside-filho-1 span {
    font-size: 12px;
    color: #0275B1;
    font-weight: bold;
}

.aside-pai-1 div:last-child {
    /* background-color: cadetblue; */
    padding-top: 20px;
}

.aside-pai-1 div:last-child h3,
h4,
h5 {
    color: #0275B1;
    font-size: 52px;
}
/* Final do Aside 1*/


/* Início da Aside 2 */
.aside-pai-2 {
    background-color: #FFF;
    border-radius: 4px;
    height: 440px;
    padding: 20px;
    grid-template-rows: 100px 260px;
    box-sizing: border-box;
    row-gap: 10px;
    margin-bottom: 20px;
}

.aside-pai-2 .second-aside-filho-2 {
    /* background-color: coral; */
    min-height: 40px;
    border-bottom: 1px solid #F4F4F4;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 10px;
    box-sizing: border-box;
}

.second-aside-filho-2 h3 {
    font-size: 12px;
    font-weight: bold;
}

.second-aside-filho-2 span {
    font-size: 12px;
    color: #0275B1;
    font-weight: bold;
}

.aside-pai-2 div:last-child {
    /* background-color: cadetblue; */
    padding-top: 20px;
}

.second-aside-filho-2-pictures {
    display: grid;
    grid-template-columns: 0.3fr 1fr;
    grid-gap: 10px;
    /* background-color: #2196F3; */
    /* padding: 10px; */
}

.second-aside-filho-2-pictures div {
    background-color: rgba(255, 255, 255, 0.8);
    /* padding: 5px 0; */
}

.second-aside-filho-2-pictures small {
    font-size: 10px;
}

/* Final da Aside 2 */


/* Início da Aside 3 */
.aside-pai-3 {
    background-color: #FFF;
    border-radius: 4px;
    height: 355px;
    padding: 20px;
    grid-template-rows: 100px 260px;
    box-sizing: border-box;
    row-gap: 10px;
}

.aside-pai-3 .terceira-aside-filho-3 {
    /* background-color: coral; */
    min-height: 40px;
    border-bottom: 1px solid #F4F4F4;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 10px;
}

.terceira-aside-filho-3 h3 {
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
}

.terceira-aside-filho-3 span {
    font-size: 12px;
    color: #0275B1;
    font-weight: bold;
}

.aside-pai-3 div:last-child {
    /* background-color: cadetblue; */
    padding-top: 20px;
}

.aside-pai-3-videos {
    display: grid;
    grid-template-columns: 0.6fr 1fr;
    grid-gap: 10px;
    /* background-color: #2196F3; */
    padding: 5px;
}

.aside-pai-3-videos div {
    background-color: rgba(255, 255, 255, 0.8);
    height: 52px;
    /* display: flex;
    align-items: center;
    justify-content: center; */
}

.item7 {
    grid-column: 1 / span 2;
  }

  .aside-pai-3-videos div:nth-child(1) {
    background-image: url(../img/video1.png);
    background-repeat: no-repeat;
    background-size: cover;
  }

  .aside-pai-3-videos div:nth-child(3) {
    background-image: url(../img/video2.png);
    background-repeat: no-repeat;
    background-size: cover;
  }

  .aside-pai-3-videos div:nth-child(5) {
    background-image: url(../img/video3.png);
    background-repeat: no-repeat;
    background-size: cover;
  }

  .aside-pai-3-videos div:nth-child(even){
    display: flex;
    flex-direction: column;
  }

  .aside-pai-3-videos div:nth-child(1) {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .aside-pai-3-videos div:nth-child(3) {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .aside-pai-3-videos div:nth-child(5) {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .aside-pai-3-videos div:nth-child(even) small {
    text-align: left;
  }

  .aside-pai-3-videos div h6 {
    font-size: 12px;
  }

  .aside-pai-3-videos div small {
    font-size: 10px;
  }

  .item7 {
    text-transform: uppercase;
    color: #0275B1;
    font-size: 12px;
}

.item7 a {
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;
    color: #0275B1;
    font-size: 12px;
}


.aside-pai-3-videos i {
    cursor: pointer;
    background-color: #0077B5;
    color: #FFF;
    padding: 3px 8px;
    border-radius: 4px;
}

.aside-pai-3-videos i a {
    cursor: pointer;
    /* background-color: #0077B5; */
    color: #FFF;
    padding: 3px 8px;
    border-radius: 4px;
}

.aside-pai-3-videos i a:hover {
    cursor: pointer;
    background-color: #FF0000;
    color: #FFF;
    padding: 3px 8px;
    border-radius: 4px;
}

/* Final da Aside 3 */

footer {
    height: 215px;
    background-color:#F7F9FB;
    margin-top: 40px;
}
.container-footer{
    max-width: 1200px;
    margin: 0 auto;
    /* background-color: #0077B5; */
    height: 215px;
    display:grid;
    grid-template-columns: 4vw 8vw 10vw 12vw 13vw auto;
    column-gap: 10px;
    box-sizing: border-box;
}
.container-footer div{
    margin-top: 20px;
    /* background-color: gray; */
    height: 150px;
}
.container-footer div:first-child{
    /* background-color: red !important; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container-footer div:first-child img{
    width: 46px;
    height: 46px;
}
.container-footer div:first-child div{
    /* background-color: #698b9e; */
    display: flex;
}
.container-footer div:first-child div p{
    font-size: 14px;
}
.container-footer div:first-child div small{
    margin-top: 0.4px;
    margin-left: 1.1px;
    color: blue;
}
.container-footer-2 p{
    font-weight: bold;
    font-size: 12px;
}
.container-footer-2{
    display: flex;
    flex-direction: column;
}
.container-footer-2 ul li{
    margin-top: 10px;
    list-style: none;
    font-size: 12px;
}
.container-footer div:nth-child(3){
    /* background-color: red; */
    padding-top: 17px;
    box-sizing: border-box;
}
.container-footer div:nth-child(3) ul li{
    list-style: none;
    padding-top:10px;
    font-size: 12px;
}
.container-footer div:nth-child(4){
    /* background-color: yellow;  */
    padding-top: 17px;
    box-sizing: border-box;
}
.container-footer div:nth-child(4) ul li{
    list-style: none;
    padding-top:10px;
    font-size: 12px;
}
.container-footer-5{
    display: flex;
    flex-direction: column;
}
.container-footer-5 p{
    font-weight: bold;
    font-size: 12px;
}
.container-footer-5 div{
    display: flex;
    flex-direction: column;
}
.container-footer-5 div button:first-child{
    text-transform: uppercase;
    height: 32px;
    width: 170px;
    border: none;
    background: linear-gradient(360deg, rgba(14,103,149,1) 0%, rgba(0,119,181,1) 100%);
    border-radius: 4px 4px 0 0;
    color: #fff;
    margin-top: 10px;
}
.container-footer-5 div button:last-child{
    background-color: #FFF;
    width: 170px;
    height: 32px;
    border: 1px solid #E7E7E7;
    border-radius: 4px 4px 0 0;
    text-transform: uppercase;
    font-weight: bold;
    color: #0077B5;
    margin-top: 10px;
}
.container-footer div:nth-child(6) p{
    /* color: red; */
    font-weight: bold;
    font-size: 12px;
    margin-top: -15px;
}
.container-footer div:nth-child(6) button{
    background-color: #FFF;
    width: 170px;
    height: 32px;
    border: 1px solid #E7E7E7;
    border-radius: 4px 4px 0 0;
    text-transform: uppercase;
    font-weight: bold;
    color: #0077B5;
    margin-top: 20px;
}
.container-footer div:nth-child(6) {
    box-sizing: border-box;
    padding-left: 40px;
    padding-top: 15px;
}