

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: burlywood;
}
/* Começo do header por luis - 14:28 - 02/07*/
header{
    height: 80px;
    background-color: white;
    /* margin-bottom: 40px; */
    display: grid;
    column-gap: 10px;
    grid-template-columns: 10vw 20vw 30vw 30vw 10vw;
    margin-bottom: 40px;
}
/* header div{
    background-color: red;
} */
header div:nth-child(1){
    /* background-color: blue; */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-right: 1px solid yellow;
}
header div:nth-child(2){
    /* background-color: yellow; */
    display: flex;
    align-items: center;
    
}
header div:nth-child(2) ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header div:nth-child(2) li{
    width: 80px;
    text-align: center;
    list-style: none;
    display: flex;
    flex-direction: column;
}

header div:nth-child(2) nav ul li i{
    color: black;
    font-size: 22px;
}
header div:nth-child(3){
    /* background-color:blueviolet; */
    display: flex;
    align-items: center;
    border-right: 1px solid yellow;
    
}
input[type=text]{
    padding-left: 40px;
    background-color: rgba(0, 0, 0, 0.03);
    height: 60px;
    width: 320px;
    outline: none;
    border: 0 none;
    border-radius: 4px;
}
header div:nth-child(3) i{
    color: blue; 
    margin-left: -345px;
    box-sizing: border-box;
}
header div:nth-child(4){
    /* background-color: gray; */
    display: flex;
    border-right: 1px solid yellow;
}
header div:nth-child(4) div:first-child{
    width: 100px;
}
header div:nth-child(4) div:last-child{
    width: 300px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box; 
}
header div:nth-child(4) div:last-child h3{
    margin-left: -250px;
    padding-top: 10px;
    position: relative;
    width: 40px;
    height: 40px;
}
header div:nth-child(4) div:last-child .dados{
    color: gray;
    font-size: 10px;
}
header div:nth-child(4) div:last-child .dados-luis{
    display: flex;
    flex-direction: row;
    margin-left: 15px;
    color: gray;
    /* padding-bottom: 22px; */
}
header div:nth-child(4) div:last-child .dados-luis i {
    color: green;
}


header div:nth-child(5){
    /* background-color: pink; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-right: 55px;
    border-right: 1px solid yellow;
}
/* Fim do header por luis  */

/* Início da configuração principal */

main {
    display: grid;
    grid-template-columns: 70% 26%;
    gap: 40px;
    max-width: 1200px;
    margin: auto;
}

main section:first-child {
    background-color: aqua;
    width: 100%;
    height: 1000px;
}

main section:last-child {
    background-color: aqua;
    width: 100%;
    height: 400px;
}

footer {
    height: 130px;
    background-color: #000;
    margin-top: 40px;
}

/* .card {
    background-color: #FFF;
} */

/* Final da configuração principal */

/* Início da organização do artigo1-primeira-secao principal */
.artigo1-primeira-secao {
    display: grid;
    grid-template-rows: 180px 180px;
    background-color: #2196F3;
    width: 100%;
}

.artigo1-grid-primeira-div-pai {
    display: grid;
    grid-template-columns: auto auto auto;
    grid: 36px / auto auto auto;
    /* gap: 10px; */
    background-image: url(../img/Rectangle\ 3.png);
    padding-top: 20px;
    text-align: center;
}

.icon-arrow-up {
    background-color: #FFF;
    width: 20px;
    padding: 10px;
    border-radius: 4px;
    margin-left: 30px;
    box-shadow: 0px 10px 30px rgba(113, 123, 133, 0.05);
}

.icon-edit-profile {
    background-color: #FFF;
    width: 132px;
    padding: 10px;
    border-radius: 4px;
    margin-left: 530px;
    box-shadow: 0px 10px 30px rgba(113, 123, 133, 0.05);
}

.icon-tres-pontos {
    background-color: #FFF;
    width: 20px;
    padding: 10px;
    border-radius: 4px;
    margin-left: 30px;
    box-shadow: 0px 10px 30px rgba(113, 123, 133, 0.05);
}
/* Final da organização do artigo1-primeira-secao principal */


.artigo2-grid-primeira-div-pai {
    display: grid;
    grid-template-columns: .5fr 2fr;
    gap: 10px;
    background-color: yellow;
}

.elipse {
    margin-top: -20px;
    margin-left: 30px;
}

.artigo3-grid-primeira-div-pai {
    display: grid;
    grid-template-rows: 1fr 2fr 1fr;
    grid: 36px / auto auto auto;
    row-gap: 10px;
    background-color: chocolate;
}






